<?xml version="1.0"?>

        <beans xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
                xmlns:aop="http://www.springframework.org/schema/aop"
                xmlns:tx="http://www.springframework.org/schema/tx"
                xmlns:context="http://www.springframework.org/schema/context"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns="http://www.springframework.org/schema/beans">


    <bean class="dao.AuthorDaoInMemory" id="AuthorDao">

    <constructor-arg ref="AuthorData"/>

</bean>

    <bean class="dao.AuthorData" id="AuthorData" factory-method="getListData"> </bean>


    <bean class="service.AuthorService" id="AuthorService">

    <constructor-arg ref="AuthorDao"/>

</bean>

    <bean class="view.AuthorView" id="Runner"/>


    <bean class="controller.AuthorController" id="Controller">

    <constructor-arg ref="Runner"/>

    <constructor-arg ref="AuthorService"/>

</bean>

</beans>